#navSection
    h1#appHeader Welcome to Fun Weather App
    #selections
        .pure-g
            .pure-u-1-2
                label(for="cityPicker")#cityLabel Choose city
                select#cityPicker.pure-input-1-2
                    option Helsinki
                    option Espoo
                    option Vantaa
            .pure-u-1-2
                #naviButtons
                    #today.button.pure-button Today
                    #thisWeek.button.pure-button This week