#navSection
    h1#appHeader Welcome to Fun Weather App
    #selections
        .pure-g
            .pure-u
                Label(for="#cityPicker")#cityLabel Choose city
                select#cityPicker.pure-input-1-2