#navSection
    h1#appHeader Welcome to Fun Weather App
    #selections
        .pure-g
            .pure-u-1-2
                select#cityPicker.pure-input-1-2
            .pure-u-1-2
                #naviButtons
                    button#today.button.pure-button Current
                    button#thisWeek.button.pure-button Forecast