#mainSection
    #weatherData
        .pure-g
            #first.pure-u-1-3
            #second.pure-u-1-3
            #third.pure-u-1-3
        .pure-g
            #fourth.pure-u-1-4
            #fifth.pure-u-1-4
            #sixth.pure-u-1-4
            #seventh.pure-u-1-4