doctype html
html
    head
        meta(charset='UTF-8')
        title Fun Weather app
        style
            include css/styles.css
    body
        h1 Hello world!
        footer &copy; Joni Jansson