body {
  background-image: url("../img/background.jpg");
}

#mainDiv {
  width: 50%;
  height: 40%;
  margin: auto;
  margin-top: 10%;
}

#footer {
  margin-top: 2px;
  text-align: right;
  border-radius: 2px;
}

#navSection {
  background-color: rgb(255, 255, 255);
  border: solid black 1px;
  border-bottom: none;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

#appHeader {
  margin-left: auto;
  padding-top: 4vw;
  padding-bottom: 4vw;
  text-align: center;
  font-size: 25px;
}

#selections {
  padding-bottom: 15px;
}

#citySelection {
  margin-left: auto;
}

#cityPicker {
  margin-left: 2vw;
  margin-right: 2vw;
  margin-top: 4px;
  border-radius: 4px;
  padding: 4px;
}

#naviButtons {
  margin-right: auto;
}

#today {
  margin-right: 2px;
  border-radius: 5px;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

#today:hover {
  color: rgb(150, 181, 229);
}

#thisWeek {
  border-radius: 5px;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

#thisWeek:hover {
  color: rgb(150, 181, 229);
}

.active {
  color: rgb(150, 181, 229);
}

#mainSection {
  border: solid black 1px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

#weatherData {
  margin-left: auto;
  padding-top: 5vw;
  padding-bottom: 5vw;
  text-align: center;
  font-size: 15px;
  background-color: rgb(150, 181, 229);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  opacity: 0.7;
}

@media screen and (max-width: 1024px) {
  #mainDiv {
    width: 70%;
  }
}

@media screen and (max-width: 768px) {
  #mainDiv {
    width: 80%;
  }
}

@media screen and (max-width: 600px) {
  #mainDiv {
    width: 90%;
  }
}
